
/* Base CSS */
@font-face{
	font-family:codeBold; 
	src:url(../fonts/code-Bold.eot);
	src:url(../fonts/code-Bold.eot) format('embedded-opentype'),
	url(../fonts/code-Bold.woff2) format('woff2'),
	url(../fonts/code-Bold.woff) format('woff'),
	url(../fonts/code-Bold.ttf) format('truetype'),
	url(../fonts/code-Bold.svg#codeBold) format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:codeLight; 
	src:url(../fonts/code-Light.eot);
	src:url(../fonts/code-Light.eot) format('embedded-opentype'),
	url(../fonts/code-Light.woff2) format('woff2'),
	url(../fonts/code-Light.woff) format('woff'),
	url(../fonts/code-Light.ttf) format('truetype'),
	url(../fonts/code-Light.svg#codeLight) format('svg');
	font-weight:normal;
	font-style:normal;
}


.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight:normal;
	font-family: codeLight , sans-serif;
}
body {
	font-family: 'Karla', sans-serif;
	
}
a:hover { text-decoration: none }



.product-bg-1{background-image: url(../image/model-1.png)}
.product-bg-2{background-image: url(../image/model-2.png)}
.product-bg-3{background-image: url(../image/model-3.png)}
.product-bg-4{background-image: url(../image/model-4.png)}
.product-bg-5{background-image: url(../image/model-5.png)}
.product-bg-6{background-image: url(../image/model-6.png)}
.product-bg-7{background-image: url(../image/model-7.png)}
.product-bg-8{background-image: url(../image/model-8.png)}
.product-bg-9{background-image: url(../image/model-9.png)}
.product-bg-10{background-image: url(../image/model-10.png)}
.homepage-slider-wrap{background-image: url(../image/header-bg.jpg)}

html , body{
	height:100%;
	width:100%;
}
.header-top-area a {
    color: #5b3f61;
    display:  inline-block;
    padding:  15px;
}

.header-top-area {
	font-weight:  bold;
	text-transform:  uppercase;
	font-size:  13px;
	position:  absolute;top: 0;
	left: 0;width:  100%;
	z-index:  9;
}

.header-left ul {
    margin:  0;
    padding:  0;
    list-style: none;
}

.header-left li {
    display:  inline-block;
}

.header-top-area a.menu-trigger {
    display:  none;
}

.header-right {
    text-align:  right;
}

a.search-trigger i.fa {
    padding-left: 10px;
}

.homepage-slider-wrap {
    background-color: #F3ECEB;
    background-position:  center;
    background-size:  cover;
    height: 100%;
}


.single-slider-item {
    position:  relative;
}

.single-slider-item img {
    position:  absolute;
    left: 50%;
    width: 650px;
    margin-left: -325px;
    bottom: 0;
}

.slidere-text-table {
    display:  table;
    height:  100%;
    width:  100%;
    position:  relative;
}

.homepage-slider-wrap div {
    height:  100%;
}

.slider-text-tablecell {
    display:  table-cell;
    vertical-align:  middle;
    padding-left: 15%;
    font-family: codelight, sans-serif;
    font-size:  120px;
    line-height:  101px;
    z-index:  1;
    color:  #E74F86;
}

.slider-text-tablecell strong {
    font-family:  codeBold;
    font-weight:  normal;
    font-style:  italic;
}

p.slider-text-3-color {
    color: #6CAFC5;
}

.big-menu {
    margin:  0;
    padding:  0;
    list-style:  none;
    overflow:  hidden;
}

.big-menu li {
    float:  left;
    list-style:  none;
    width: 30%;
    font-family:  codelight;
    font-size:  46px;
    background:  #EBF2E7;
	transition: .3s;
}
.big-menu li:hover {
    opacity: .4;
}
.big-menu li a {
    text-align:  right;
    padding: 170px 30px 30px;
    display:  block;
    padding-top: 170px;
}

.big-menu li:nth-child(2) a {
    color: #E74F86;
    font-family:  codeBold;
    background-color: #F0E4E4;
}

.big-menu li:nth-child(3){
    background-color:  #F5F2E5;
    width: 20%;
}

.big-menu li:nth-child(4) a{
    background:  #EBF3F4;
	text-align:left;
}

.big-menu li:nth-child(2), .big-menu li:nth-child(3){
    width: 20%;
	text-align:center;
}
.products-area {
    padding-top: 100px;
    padding:80px;
	margin-left: -15px;
}

.single-product-item {
    height: 300px;
    background-size:  cover;
    margin-left: 2%;
    width: 18%;
    margin-bottom: 20px;
    float:  left;
    background-repeat: no-repeat;
	position: absolute;
    left: 0px;
    top: 0px;
}

.single-product-item:nth-child(2) {
    width: 78%;
    height:  620px;
    background-color: #EFE7E6;
}
.single-product-item:nth-child(1){
	background-color:#F4EEED;
}

.single-product-item:nth-child(3) {
    background-color: #EFF3F3;
}

.single-product-item:nth-child(4) {
    background-color:  #F1F0EB;
    width: 58%;
}

.single-product-item:nth-child(5) {
}

.single-product-item:nth-child(6) {
    background-color: #F1F4F1;
}

.single-product-item:nth-child(7) {
    background-color: #F0F4F4;
}

.single-product-item:nth-child(8) {
    background-color: #F1F5F1;
}

.single-product-item:nth-child(9) {
    background-color: #F4EDF3;
    width: 38%;
}

.single-product-item:nth-child(10) {
    background-color:  #F2F0EB;
}

.product-top-link a {
    display:  inline-block;
    color: #5b3f61;
    padding:  5px;
}

.product-top-link {
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    position: relative;
}

.product-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
	opacity:0;
}
a.lode-more-btn {
    display:  block;
    background-color:  #F8F8F7;
    text-align:  center;
    padding: 26px;
    color:  #e84f88;
    font-size:  16px;
    font-family: karlaBold;
    font-weight:  700;
    border-radius: 4px;
    margin-left: 21px;
    margin-top: 27px;
    margin-bottom: 50px;
}
.product-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #6DAFC5;
    opacity: .7;
    z-index: -1;
}
.single-product-item:hover .product-hover {
    opacity: 1;
}

.product-bottom-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    transition: .3s;
}

.product-bottom-info h4 {
    margin: 0;
    font-family: karla;
    font-size: 16px;
    font-weight: 700;
}

.product-price {
    position: absolute;
    top: 6px;
    right: 0;
    color: #ED4949;
    font-size: 20px;
    font-weight: 700;
    bottom: 0;
}

span.product-color-left-box span {
	display:  inline-block;
	height:  10px;
	width:  10px;
	border: 1px solid #D8D3D9;
}

span.product-color-left-box {
    margin: 6px;
    border-left:  1px solid #ddd;
    padding-left:  10px;
}

span.product-color-red {
    background-color: red;
}

span.product-color-black {
    background-color:  black;
}

span.product-color-pink {
    background-color:  pink;
}
.single-product-item:hover .product-top-link{
    z-index:9;
	position:relative;
}
.single-product-item:hover .product-top-link a{
    color: #fff;
}
.product-bottom-info p {
    margin:  0;
}
.view {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    left: 50%;
    padding: 6px 17px;
    font-weight: 700;
    width: 90px;
    margin-left: -45px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -70px;
    line-height: 25px;
    transition: .3s;
    content: "";
}

.single-product-item:hover .view {
    margin-top:  -40px;
}




.product-item-blog img{
	padding-top: 60px;
	
}
.product-item-blog {
	background-color:  #F7F4F4;
	margin-left: 20px;
}

a.lode-more-btn {
    display:  block;
    background-color:  #F8F8F7;
    text-align:  center;
    padding: 26px;
    color:  #e84f88;
    font-size:  16px;
    font-family: karlaBold;
    font-weight:  700;
    border-radius: 4px;
    margin-left: 21px;
    margin-top: 27px;
    margin-bottom: 50px;
}
.blog-bg {
    background-color: #F3EFEF;
    text-align:  center;
}

.product-content {
    padding: 40px 110px 40px 40px;
    padding-left:  40px;
    line-height: 2;
}

.product-title h2 {
    font-size: 36px;
    margin:  0 0 5px;
}

.product-title {
    position:  relative;
    color:  #E84F87;
    margin-bottom: 40px;
}

.product-title h2 strong {
    font-family: codeBold;
    font-weight:  normal;
}

.product-title span {
    position:  absolute;
    top: -41px;
    left: 31%;
    font-size:  110px;
    color:  #51abc8;
    opacity: .2;
    font-family: codeBold;
}
.product-title p {
    color: #786b7a;
    font-size: 16px;
    line-height: 8px;
}

a.more-btn {
    display:  inline-block;
    font-size:  16px;
    font-family:  karlaBold;
    text-transform:  uppercase;
    padding: 10px 25px;
    border: 1px solid;
    background-color:  #51AAC7;
    color: #fff;
    text-align:  center;
    font-weight:  700;
    margin-top: 30px;
}

.brand-img img {
    padding: 125px 0px 11px 40px;
}
.brand-img:nth-child(1) {
    margin-left:  none;
}

.brand-img:nth-child(6) img {
    margin-right: none;
}

.footer-area {
    background:  #F3F3F3;
    padding: 47px;
}

.footer-area a {
    color: #919191;
    font-size:  15px;
}

.footer-menu ul {
    margin:  0;
    padding:  0;
    list-style:  none;
    display:  inline-block;
    font-weight:  700;
    margin-bottom: 23px;
    text-transform:  uppercase;
}

.footer-menu ul li {
    float:  left;
    display:  inline-block;
    margin-left:  26px;
}

.footer-menu {
    margin-top: 20px;
}

.footer-menu {
    color: #919191;
}

.footer-area p {
    color:  #919191;
}

.social-link a {
    display:  inline-block;
    font-size: 170%;
    padding-left:  10px;
    margin-top: 15px;
    padding-bottom: 8px;
}

.email-form input[type=email] {
    background-color:  #fff;
    border: 1px solid #ddd;
    padding:  8px;
}

.email-form input[type=submit] {background:  #E74F86;padding:  8px;color: #fff;text-transform:  uppercase;font-weight:  700;font-size: 16px;font-family:  karlaBold;}


.homepage-slider-wrap .owl-nav div {
    height:  auto;
}

.homepage-slider-wrap .owl-nav div {
    position:  absolute;
    left: 0;
    top: 50%;
    font-size: 20px;
    color: #5b3f61;
    line-height:  40px;
    margin-top:  -20px;
    transition:  .3s;
    opacity:  0;
}

.homepage-slider-wrap .owl-nav next {
    left:  auto;
    right:  5%;
}

.homepage-slider-wrap .owl-nav div.owl-next {
    left:  auto;
    right: 0%;
}

.homepage-slider-wrap:hover .owl-nav div {
    left: 5%;
    opacity:  .2;
}
.owl-carousel .owl-item .single-slider-item img {
    width: auto;
}
.homepage-slider-wrap:hover .owl-nav div.owl-next {
    left:  auto;
    right:  5%;
    color: #5b3f61;
}
.single-product-blog img {
    width: auto !important;
}

.single-product-blog .owl-dots div {
    height:  15px;
    width:  15px;
    background:  #E74F86;
    border-radius:  50%;
    margin-bottom:  10px;
}

.owl-dots div {
    width:  15px;
    height:  15px;
    background: #D2CDCD;
    margin-bottom:  10px;
    border-radius:  50%;
}

.owl-dots div.active {
    background: #E74F86;
}

.owl-dots {
    position:  absolute;
    right: 2%;
    top: 50%;
    margin-top:  -2%;
}